@import "compass/css3";
@import "compass/utilities";

@import "_base/utilities";
@import "_base/variables";

@import "bootstrap";
@import "font-awesome";

@import "_partial/highlights";
@import "_partial/article";
@import "_partial/archive";
@import "_partial/pager";
@import "_partial/sidebar";
@import "_partial/navbar";

body {
  background: $body-bg image_url('f21.png') no-repeat fixed 80% 80%;
  min-height: 100%;
  @include background-size(cover);

  padding-top: 20px;
  padding-bottom: 20px;
}

code {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1px 2px;
  color: #eee;
}

.table-striped > tbody > tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}

.table-bordered {
  border: 1px solid #eee;
}






