<header class="page-header archive-header clearfix">
  <h1>
    Archive for <%= year %>
  </h1>
</header>

<% page_articles.each do |article| %>
  <%= partial '_partials/archive_entry', locals: {article: article} %>
<% end %>

<% set_title "#{ year } - Archive" %>
